@model WebApka.Models.TaskModel
@{
    ViewData["Title"] = "AddTask";
}

<form asp-action="AddTask" method="post">
  <div class="mb-3">
    <label for="Title" class="form-label">Title</label>
    <input type="text" class="form-control" id="Title" asp-for="Title">
    <span asp-validation-for="Title" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="Content" class="form-label">Content</label>
    <textarea class="form-control" id="Content" asp-for="Content"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="EndTime" class="form-label">EndTime</label>
    <input type="date" class="form-control" id="EndTime" asp-for="EndTime">
    <span asp-validation-for="EndTime" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      @* <img src="..." class="rounded me-2" alt="..."> *@
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>



