@model WebApka.Models.UserModel
@{
    ViewData["Title"] = "Login";

    string loginErrorMessage = TempData["LoginErrorMessage"] as string;
    string accountCreatedMessage = TempData["accountCreatedMessage"] as string;
}

@if(accountCreatedMessage != null)
{
  <div class="alert alert-success" role="alert">
    @accountCreatedMessage
  </div>
}

<span asp-validation-for="Username" class="text-danger">@loginErrorMessage</span>
<form action="/account/login" method="post">
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" id="Username" asp-for="Username">
    <span asp-validation-for="Username" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" asp-for="Password">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>