@model WebApka.Models.UserModel;
@{
    ViewData["Title"] = "Register";

    string emailError = TempData["emailError"] as string;
    string usernameError = TempData["usernameError"] as string;
}

<form action="/account/register" method="post">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Email">
    <span class="text-danger">@emailError</span>
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" id="Name" asp-for="Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="LastName" class="form-label">LastName</label>
    <input type="text" class="form-control" id="LastName" asp-for="LastName">
    <span asp-validation-for="LastName" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" id="Username" asp-for="Username">
    <span class="text-danger">@usernameError</span>
    <span asp-validation-for="Username" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" asp-for="Password">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="Age" class="form-label">Age</label>
    <input type="number" class="form-control" id="Age" asp-for="Age">
    <span asp-validation-for="Age" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>